flask[async]==3.1.2
cryptography==45.0.6
httpx[http2]==0.28.1
pennylane==0.42.3
psutil==7.0.0
waitress==3.0.2
bleach==6.2.0
argon2-cffi==25.1.0
Flask-WTF==1.2
markdown2==2.5.4
WTForms==3.2.1
geonamescache==2.0.0
backoff==2.2.1
pathlib==1.0.1
numpy==2.3.2
itsdangerous==2.2.0
gunicorn==23.0.0
requests==2.31.0
llama-cpp-python==0.3.16
liboqs-python==0.14.1
